.cost-details__container {
    width: 13.2in;
}

.cost-details__table {
    -fs-table-paginate: paginate;
    margin-bottom: 0.20in;
}

.cost-details__table caption {
    font-size: 12pt;
    caption-side: top;
    font-weight: bold;
    margin-bottom: 0.07in;
}

@media print {
    .cost-details__table {
        page-break-inside: auto;
    }
    .cost-details__table caption {
        page-break-after: avoid;
    }
}