.cost-details__table {
    -fs-table-paginate: paginate;
}

.cost-details__table caption {
    caption-side: top;
    font-weight: bold;
    padding-bottom: 0.35in;
}

@media print {
    .cost-details__table {
        page-break-inside: auto;
    }
    .cost-details__table caption {
        page-break-before: always;
    }
}