.fixPadsHeader .title {
    font-size: 16pt;
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 5px;
}
.fixPadsHeader .subject {
    font-size: 12pt;
    font-weight: bold;
}
.fixPadsHeader .notes {
    font-size: 10pt;
    white-space: pre;
    margin-top: 7px;
}
.fixPadsHeader table {
    width: 100%;
    margin-bottom: 30px;
}
.fixPadsHeader .companyLogo {
    float: right;
    padding-bottom: 0px;
    margin-bottom: -20px;
    width: 200px;
    height: 100px;
}

@media print {
    .fixPadsHeader {
        display: block;
        position: running(fixPadsHeader);
        padding: 0;
        margin-top: 0.15in;
    }
}

@page {
    @top-center {
        content: element(fixPadsHeader);
    }
}