.fixPadsHeader .title {
    font-size: 16pt;
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 5px;
}
.fixPadsHeader .subject {
    font-size: 12pt;
    font-weight: bold;
}
.fixPadsHeader .notes {
    font-size: 10pt;
    white-space: pre;
    margin-top: 7px;
}
.fixPadsHeader .companyLogo {
    float: right;
    padding-bottom: 0px;
    margin-bottom: -20px;
    width: 200px;
    height: 100px;
}
.header table {
    width: 100%;
    margin-bottom: 30px;
}
.fixPadsHeader-regular table {
    width: 13.2in;
    margin-bottom: 0;
}

@media print {
    .header {
        position: running(header);
        display: block;
        padding: 0;
        margin-top: 0.15in;
    }
}
