.fixPadsFooter table {
    width: 100%;
    font-size: 7pt;
    border-collapse: separate;
    border-spacing: 0px;
}

.fixPadsFooter .section-LL__footer {
    width: 33%;
    text-align: left;
}
.fixPadsFooter .section-LC__footer {
    width: 0.3%;
}
.fixPadsFooter .center-section__footer {
    width: 33.3%;
    text-align: center;
}
.fixPadsFooter .section-RC__footer {
    width: 0.3%;
    text-align: center;
}
.fixPadsFooter .section-RR__footer {
    width: 33%;
    text-align: right;
}
.fixPadsFooter .pagenumber:before {
    content: counter(page);
}
.fixPadsFooter .pagecount:before {
    content: counter(pages);
}
.fixPadsFooter pre {
    margin-bottom: 0;
    padding-bottom: 0;
}
.fixPadsFooter td {
    text-align: center;
    border-top: 1px solid black;
}

@media print {
    .footer {
        display: block;
        position: running(footer);
        padding: 0;
        margin-bottom: 0.05in;
    }
}

